
<div>
    <h2><span data-translate="proyectoApp.locus.detail.title">Locus</span> {{vm.locus.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="dl-horizontal jh-entity-details">
        <dt><span data-translate="proyectoApp.locus.codigo">Codigo</span></dt>
        <dd>
            <span>{{vm.locus.codigo}}</span>
        </dd>
        <dt><span data-translate="proyectoApp.locus.detalle">Detalle</span></dt>
        <dd>
            <span>{{vm.locus.detalle}}</span>
        </dd>
        <dt><span data-translate="proyectoApp.locus.ploidia">Ploidia</span></dt>
        <dd>
            <span>{{vm.locus.ploidia}}</span>
        </dd>
		<dt has-authority="ROLE_ABM"><span data-translate="proyectoApp.locus.publico">Publico</span></dt>
        <dd has-authority="ROLE_ABM">
            <input id="field_publico" name="field_publico" type="checkbox" 
					ng-model="vm.locus.publico" disabled/>
        </dd>
    </dl>

	<uib-accordion close-others="oneAtATime">
		<div uib-accordion-group class="panel-default" >	
			<headeraccordion tr="general.atributos" ></headeraccordion>
			<atributogrilla atributos="vm.locus.atributos" idobj="vm.locus.id" 
							servicio="Locus" entidad="LOCUS" readonly="true" padre="vm.locus"> </atributogrilla>
		</div>
	</uib-accordion>

    <button type="submit"
            ui-sref="{{ vm.previousState }}"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span data-translate="entity.action.back"> Back</span>
    </button>

    <button type="button"  ng-click="vm.editar()" 
			class="btn btn-primary" has-authority="ROLE_ABM">
        <span class="glyphicon glyphicon-pencil"></span>
        <span class="hidden-xs hidden-sm" data-translate="entity.action.edit"> Edit</span>
    </button>
</div>
