<div>
    <h2 data-translate="userManagement.home.title">Users</h2>
    <jhi-alert></jhi-alert>
    <div class="row">
      <div class="col-md-4">
          <button class="btn btn-primary" type="button" ng-click="vm.crearEditar()" >
              <span class="glyphicon glyphicon-flash"></span> <span data-translate="userManagement.home.createLabel">Create a new User</span>
          </button>
      </div>
    </div>
	<br/>
	<div class="container-fluid">
		<userfiltros criterio="vm.criterio"/>
	</div>

	<div class="row">
		<btntabla actualizar="vm.loadAll" lista="vm.users" titulo="users"
				  camposexp="id,login,firstName,lastName,activated,email,langKey,rolUsuario,createdDate,lastModifiedBy,lastModifiedDate"
				  class="pull-right" rol="ROLE_ADMIN"
				  servicio="User" filtros="userfiltros" campocodigo="login" campodetalle="email"
				  trsel="userManagement.home.title"></btntabla>
	</div>

    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
            <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.loadAll()">
                <th jh-sort-by="id"><span data-translate="global.field.id">ID</span><span class="glyphicon glyphicon-sort"></span></th>
                <th jh-sort-by="login"><span data-translate="userManagement.login">Login</span> <span class="glyphicon glyphicon-sort"></span></th>
                <th jh-sort-by="email"><span data-translate="userManagement.email">Email</span> <span class="glyphicon glyphicon-sort"></span></th>
                <th></th>
                <th  jh-sort-by="langKey"> <span data-translate="userManagement.langKey">Lang Key</span> <span class="glyphicon glyphicon-sort"></span></th>                
                <th jh-sort-by="rolUsuario"><span data-translate="userManagement.rolUsuario"></span> <span class="glyphicon glyphicon-sort"></span></th>
                <th jh-sort-by="createdDate"><span data-translate="userManagement.createdDate">Created Date</span> <span class="glyphicon glyphicon-sort"></span></th>
				<th jh-sort-by="lastModifiedBy"><span data-translate="userManagement.lastModifiedBy">Last Modified By</span> <span class="glyphicon glyphicon-sort"></span></th>
                <th jh-sort-by="lastModifiedDate"><span data-translate="userManagement.lastModifiedDate">Last Modified Date</span> <span class="glyphicon glyphicon-sort"></span></th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="user in vm.users track by user.id">
                <td><a ui-sref="user-management-detail({login:user.login})">{{user.id}}</a></td>
                <td>{{user.login}}</td>
                <td>{{user.email}}</td>
                <td>
                    <span class="label label-danger" ng-click="vm.setActive(user, true)" ng-show="!user.activated"
                          data-translate="userManagement.deactivated" style="cursor: pointer;">Deactivated</span>
                    <span class="label label-success" ng-click="vm.setActive(user, false)" ng-show="user.activated"
                          data-translate="userManagement.activated" style="cursor: pointer;">Activated</span>
                </td>
                <td>{{user.langKey}}</td>
				<td>
					<span data-translate="{{'userManagement.RolUsuario.' + user.rolUsuario}}"></span>
				</td>
                <td>{{user.createdDate | date:'dd/MM/yy HH:mm'}}</td>
                <td>{{user.lastModifiedBy}}</td>
                <td>{{user.lastModifiedDate | date:'dd/MM/yy HH:mm'}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                ui-sref="user-management-detail({login:user.login})"
                                class="btn btn-info btn-sm">
                            <span class="glyphicon glyphicon-eye-open"></span>
                            <span class="hidden-xs hidden-sm" data-translate="entity.action.view"></span>
                        </button>
                        <button type="button"
                                ng-click="vm.crearEditar(user.login)"
                                class="btn btn-primary btn-sm"
								ng-disabled="!vm.usuarioEditable(user)">
                            <span class="glyphicon glyphicon-pencil"></span>
                            <span class="hidden-xs hidden-sm" data-translate="entity.action.edit"></span>
                        </button>
                        <button type="button"
                                ng-click="vm.eliminar(user.login)"
                                class="btn btn-danger btn-sm" ng-disabled="vm.currentAccount.login==user.login || !vm.usuarioEditable(user)">
                            <span class="glyphicon glyphicon-remove-circle"></span>
                            <span class="hidden-xs hidden-sm" data-translate="entity.action.delete"></span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <pietabla total="vm.totalItems" page="vm.page" itemspage="vm.itemsPerPage" change="vm.loadAll"> </pietabla>
</div>
