<div>
    <h2 data-translate="proyectoApp.archivo.home.title">Archivos</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="archivo.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span  data-translate="proyectoApp.archivo.home.createLabel">
                        Create new Archivo
                    </span>
                </button>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                    <th jh-sort-by="id"><span data-translate="global.field.id">ID</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="detalle"><span data-translate="proyectoApp.archivo.detalle">Detalle</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="direccion"><span data-translate="proyectoApp.archivo.direccion">Direccion</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="muestra.id"><span data-translate="proyectoApp.archivo.muestra">Muestra</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="extraccion.id"><span data-translate="proyectoApp.archivo.extraccion">Extraccion</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="tipoArchivo.id"><span data-translate="proyectoApp.archivo.tipoArchivo">Tipo Archivo</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="analisisGenotipo.id"><span data-translate="proyectoApp.archivo.analisisGenotipo">Analisis Genotipo</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="proyecto.id"><span data-translate="proyectoApp.archivo.proyecto">Proyecto</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="archivo in vm.archivos track by archivo.id">
                    <td><a ui-sref="archivo-detail({id:archivo.id})">{{archivo.id}}</a></td>
                    <td>{{archivo.detalle}}</td>
                    <td>{{archivo.direccion}}</td>
                    <td>
                        <a ui-sref="muestra-detail({id:archivo.muestra.id})">{{archivo.muestra.id}}</a>
                    </td>
                    <td>
                        <a ui-sref="extraccion-detail({id:archivo.extraccion.id})">{{archivo.extraccion.id}}</a>
                    </td>
                    <td>
                        <a ui-sref="tipo-archivo-detail({id:archivo.tipoArchivo.id})">{{archivo.tipoArchivo.id}}</a>
                    </td>
                    <td>
                        <a ui-sref="analisis-genotipo-detail({id:archivo.analisisGenotipo.id})">{{archivo.analisisGenotipo.id}}</a>
                    </td>
                    <td>
                        <a ui-sref="proyecto-detail({id:archivo.proyecto.id})">{{archivo.proyecto.id}}</a>
                    </td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="archivo-detail({id:archivo.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-xs hidden-sm" data-translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="archivo.edit({id:archivo.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-xs hidden-sm" data-translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="archivo.delete({id:archivo.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-xs hidden-sm" data-translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <jhi-item-count page="vm.page" total="vm.queryCount" items-per-page="vm.itemsPerPage"></jhi-item-count>
        <uib-pagination class="pagination-sm" total-items="vm.totalItems" items-per-page="vm.itemsPerPage" ng-model="vm.page" ng-change="vm.transition()"></uib-pagination>
    </div>
</div>
